/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/JavaFXApplication/nbproject/private/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TempratureClassLib/nbproject/private/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TempEntApp/nbproject/private/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TempEntApp/TempEntApp-ejb/nbproject/private/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TempEntApp/TempEntApp-ejb/build/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TempEntApp/TempEntApp-ejb/dist/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TempEntApp/build/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TempratureClassLib/dist/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TempratureClassLib/build/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TempEntApp/dist/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TemperatureClient/nbproject/private/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TemperatureClient/build/
/COSC Projects/Class Work/CS 4336 - Summer 2022/InClassGUIExample2/TemperatureClient/dist/