# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\kevin\Documents\GitHub\Kevin-UTD\COSC Projects\CS 3345 - Fall 2021\Project 2\Chapter 4 Questions\Question 8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
